/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

body {
  font-family: "DM Sans", sans-serif;
  max-width: 1440px;
  margin: auto;
}

.logo {
  height: 50px;
  margin-top: 35px;
}

.banner {
  margin-left: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}
.banner h1 {
  color: #901C1C;
  font-size: 2em;
  margin-right: 100px;
}
.banner_photographer {
  margin-top: 20px;
  margin-left: 100px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}

.photographer {
  width: 30%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}
.photographer a {
  text-decoration: none;
}
.photographer_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 70px;
}
.photographer_name {
  color: #D3573C;
  font-size: 36px;
  margin-top: 10px;
}
.photographer_location {
  color: #901C1C;
  font-size: 13px;
}
.photographer_tagline {
  font-size: 10px;
}
.photographer_price {
  color: #757575;
  font-size: 9px;
}
.photographer_photo {
  height: 160px;
  width: 160px;
  margin: auto;
}
.photographer_photo img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

/* pages photographes */
.photograph {
  display: flex;
  flex-direction: column;
  margin: 0 100px;
}
.photograph_header {
  background-color: #FAFAFA;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}
.photograph_infos_name {
  font-size: 64px;
  color: #D3573C;
}
.photograph_infos_location {
  font-size: 24px;
  color: #901C1C;
  margin-bottom: 18px;
}
.photograph_infos_tagline {
  font-size: 18px;
}

.photograph_media {
  gap: 30px;
  max-width: 1240px;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  margin-top: 400px;
  margin-right: 100px;
  justify-content: space-between;
}

.media_img {
  width: 350px;
  height: 300px;
}
.media_img img,
.media_img video {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.media_text {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  margin-top: 10px;
  color: #901C1C;
}
.media_likes {
  display: flex;
  align-items: center;
  gap: 5px;
}

.fa-heart {
  -webkit-text-stroke: 1px #901C1C;
  color: transparent;
  transition: color 0.5s linear;
}

.fa-red-heart {
  color: #901C1C;
  transition: color 0.5s linear;
}

.filter {
  display: flex;
}
.filter label {
  margin-top: 20px;
  margin-right: 10px;
  font-size: 18px;
  font-weight: bold;
  margin-right: 20px;
}

.filter-form {
  z-index: 5;
  left: 100px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.filter-form_button {
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  cursor: pointer;
}
.filter-form_button::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 150px;
  margin-left: 0px;
  background-color: white;
  margin-top: -26px;
}
.filter-form img {
  left: 150px;
  top: 0;
}

.filter-form {
  position: relative;
}

.dropdown {
  display: flex;
  flex-direction: column;
}
.dropdown_open {
  filter: invert(1);
  position: absolute;
  transform: translate(-20px, 15px);
  height: 30px;
  width: 30px;
}

.hidden {
  display: none;
}

.likes_counter {
  font-size: 24px;
  height: 68px;
  width: 376px;
  position: fixed;
  bottom: 0px;
  right: 36px;
  background-color: #DB8876;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.likes_counter i {
  margin-left: 5px;
  color: black;
}

.likes_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.contact_button {
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}

/* modale de contact */
.modal {
  position: fixed;
  left: 28%;
  top: 60px;
  width: 669px;
  height: 900px;
  background-color: rgb(255, 255, 255);
  z-index: 100;
  border-radius: 5px;
  background-color: #DB8876;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 35px;
  margin: auto;
  animation: lightboxIn 0.5s;
}
.modal form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}
.modal form label {
  color: #312E2E;
  font-size: 36px;
}
.modal form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}
.modal form .text {
  font-size: 36px;
}
.modal form .form-group {
  width: 100%;
}
.modal form .contact_button {
  width: 170px;
}
.modal .error-message {
  color: white;
  font-size: 24px;
  font-style: italic;
}
.modal input.error {
  border: 5px solid #901C1C;
}
.modal_header {
  font-size: 64px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}
.modal_body {
  margin: 200px 0;
  font-size: 36px;
}

figcaption {
  display: none;
}

.modal_background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_background .content {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.close {
  cursor: pointer;
}

.lightbox {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  z-index: 10;
  animation: lightboxIn 0.5s;
  transition: opacity 0.3s;
}
.lightbox__prev, .lightbox__next {
  border: none;
  background: url(/assets/icons/arrow.svg) center center/24px 48px no-repeat;
  width: 50px;
  height: 100%;
  position: fixed;
  top: 10%;
  right: 0;
  margin-top: -14px;
  z-index: 11;
}
.lightbox__next {
  right: 9%;
  left: auto;
}
.lightbox__prev {
  right: auto;
  left: 9%;
  transform: rotate(180deg);
}
.lightbox__close {
  position: fixed;
  height: 42px;
  width: 42px;
  border: none;
  background: url(/assets/icons/xmark-solid.svg) center center/100% 100% no-repeat transparent;
  top: 15%;
  right: 9%;
  z-index: 12;
}
.lightbox__container {
  margin: 62px 195px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.lightbox__container img {
  object-fit: cover;
  width: 1050px;
  height: 900px;
  animation: lightboxIn 0.5s;
}
.lightbox button {
  cursor: pointer;
  transition: opacity 0.3s;
  text-indent: -5000px;
}
.lightbox button:hover {
  opacity: 1;
}
.lightbox .fadeOut {
  opacity: 0;
}

@keyframes lightboxIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
