@import "utils/reset.scss";
@import "utils/variables.scss";


body {
    font-family: $font-text;
}

header {
    display: flex;
    //flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 150px;

    .logo {
        height: 50px;
        margin-left: 100px;
    }
}

/* page d'accueil */
h1 {
    color: $color-primary;
    font-size: 2em;
    margin-right: 100px;
}

.photographer_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 150px 0px;
    margin-top: 100px;

    article {
        width: 30%;
        //justify-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h2 {
            color: $color-secondary;
            font-size: 36px;
        }

        img {
            height: 200px;
            width: 200px;
        }
    }
}

/* pages photographes */
.photograph {
    background-color: $color-background;
    height: 300px;
    margin: 0 100px;
    
    &_portrait img {
        height: 200px;
        width: 200px;
    }
    
   
}
.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: $color-primary;
    border-radius: 5px;
    cursor: pointer;
}

/* modale de contact */
.contact {
    display: none;

    .modal {
        border-radius: 5px;
        background-color: $color-modal;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 35px;
        margin: auto;

        header {
            justify-content: space-between;
            width: 100%;

            img {
                cursor: pointer;
            }

            h2 {
                font-size: 64px;
                font-weight: normal;
                text-align: center;
            }
        }
    }
}


form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;

    label {
        color: $color-form;
        font-size: 36px;
    }

    input {
        width: 100%;
        height: 68px;
        border: none;
        border-radius: 5px;
    }

    .form {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: self-start;
        margin-bottom: 26px;
    }
}
