@import "utils/reset.scss";
@import "utils/variables.scss";
@import "utils/mixins.scss";

body {
    font-family: $font-text;
    max-width: $max-width;
    margin: auto;
}

.logo {
    height: 50px;
    margin-top: 35px;
}

// bannière page d'accueil
.banner {
    margin-left: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;

    h1 {
        color: $color-primary;
        font-size: 2em;
        margin-right: 100px;
    }

    // bannière de la page photographe
    &_photographer {
        margin-top: 20px;
        margin-left: 100px;
        margin-bottom: 50px;
        display: flex;
        align-items: center;
    }
}

/* -------------------------
pages d'accueil
----------------------------*/
.photographer {
    width: 30%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
    margin-top: 20px;

    a {
        text-decoration: none;
    }

    &_section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 70px;
    }

    &_name {
        color: $color-secondary;
        font-size: 28px;
        margin-top: 10px;

        @media #{$medium-up} {
            font-size: 36px;
        }
    }

    &_location {
        color: $color-primary;
        font-size: 13px;
    }

    &_tagline {
        font-size: 11px;
    }

    &_price {
        color: #757575;
        font-size: 11px;
    }

    &_photo {
        height: 160px;
        width: 160px;
        margin: auto;

        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
            border-radius: 50%;
            box-shadow: 0 5px 5px rgba(0, 1, 5, 0.1);
        }
    }
}

/* -------------------------
pages photographes
----------------------------*/
.photograph {
    display: flex;
    flex-direction: column;
    margin: 0 100px;

    &_header {
        background-color: $color-background;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px;

        &_button {
            &:hover {
                @include btnHover;
            }
        }
    }

    &_media {
        gap: 30px;
        max-width: 1240px;
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        margin-top: 420px;
        margin-right: 100px;
        justify-content: space-around;
    }

    &_infos {
        &_name {
            font-size: 40px;
            color: $color-secondary;

            @media #{$medium-up} {
                font-size: 42px;
            }

            @media #{$large-up} {
                font-size: 64px;
            }
        }

        &_location {
            font-size: 24px;
            color: $color-primary;
            margin-bottom: 18px;
        }

        &_tagline {
            font-size: 18px;
        }
    }
}

/* modale de contact */
.modal {
    position: fixed;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 669px;
    height: 900px;
    z-index: 100;
    border-radius: $border-radius;
    background-color: $color-modal;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
    animation: lightboxIn .5s;

    &_header {
        font-size: 64px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 20px;

        img {
            &:hover {
                filter: invert(1);
            }
        }

        .close {
            cursor: pointer;
            &:hover {
                filter: invert(1);
            }
        }
    }

    form {
        display: flex;
        width: 100%;
        flex-direction: column;
        margin-top: 20px;

        label {
            color: $color-form;
            font-size: 36px;
        }

        input {
            width: 100%;
            height: 68px;
            border: none;
            border-radius: $border-radius;
        }

        .text {
            font-size: 36px;
        }

        .form-group {
            width: 100%;
        }

        .contact_button {
            width: 170px;
        }
    }

    .error-message {
        color: white;
        font-size: 24px;
        font-style: italic;
    }

    input.error {
        border: 5px solid $color-primary
    }

    &_body {
        margin: 200px 0;
        font-size: 36px;
    }
}

.modal_background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .9);
    z-index: 99;
}

.contact_button {
    @include btn;
}

.close_button {
    &:hover {
        @include btnHoverModale;
    }
}

//filtres
.dropdown {
    display: flex;
    flex-direction: column;

    &_open {
        filter: invert(1);
        position: absolute;
        transform: translate(-20px, 15px);
        height: 30px;
        width: 30px;
    }
}

.filter {
    display: flex;

    label {
        margin-top: 20px;
        margin-right: 10px;
        font-size: 18px;
        font-weight: bold;
        margin-right: 20px;
    }

    &_form {
        position: relative;
        z-index: 5;
        top: 10px;
        left: 12px;
        display: flex;
        align-items: center;
        flex-direction: row;
        border-radius: 5px;

        &_button {
            text-align: left;
            @include btn;
            border-radius: 0px;

            &::before {
                content: '';
                position: absolute;
                height: 1px;
                width: 150px;
                margin-left: 0px;
                background-color: white;
                margin-top: -27px;
            }
        }

        &_button:first-child {
            border-radius: $border-radius;

            &:hover {
                @include btnHover;
            }
        }

        &_button:last-child {
            border-radius: 0 0 $border-radius $border-radius;
            box-shadow: 0 5px 5px rgba(0, 1, 5, 0.1);
            ;
        }

        img {
            left: 150px;
            top: 0;
        }

        .hidden {
            display: none;
        }
    }
}

//articles des médias
.media {
    a {
        cursor: pointer;
    }

    &_img {
        width: 350px;
        height: 300px;

        img,
        video {
            object-fit: cover;
            height: 100%;
            width: 100%;
            border-radius: $border-radius;
        }
    }

    &_text {
        display: flex;
        justify-content: space-between;
        font-size: 24px;
        margin-top: 10px;
        color: $color-primary;
    }

    &_likes {
        display: flex;
        align-items: center;
        gap: 5px;

        i {
            &:hover {
                cursor: pointer;
            }
        }
    }
}

figcaption {
    display: none;
}

// les likes
.fa-heart {
    -webkit-text-stroke: 1px $color-primary;
    color: transparent;
    transition: color 0.5s linear;
}

.fa-red-heart {
    color: $color-primary;
    transition: color 0.5s linear;
}

//compteur de likes
.likes_counter {
    font-size: 24px;
    height: 68px;
    width: 376px;
    position: fixed;
    bottom: 0px;
    right: 36px;
    background-color: $color-modal;
    padding: 10px;
    border-radius: $border-radius;
    font-weight: bold;
    display: flex;
    align-items: center;

    i {
        margin-left: 5px;
        color: black
    }
}

.likes_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

// la lightbox
.lightbox {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    z-index: 10;
    animation: lightboxIn .5s;
    transition: opacity .3s;

    &_prev,
    &_next {
        border: none;
        background: url(/assets/icons/arrow.svg) center center / 24px 48px no-repeat;
        width: 50px;
        top: 0;
        height: 100%;
        position: fixed;
        margin-left: 100px;
        margin-right: 100px;
        z-index: 11;
      
    }

    &_next {
        right: 0;
        left: auto;
    }

    &_prev {
        right: auto;
        left: 0;
        transform: rotate(180deg);
    }

    &_close {
        position: fixed;
        height: 100%;
        width: 34px;
        border: none;
        background: url(/assets/icons/xmark-solid.svg) center center / 100% 100% no-repeat transparent;
        position: fixed;
        margin-top: -250px;
        right: 120px;
        left: auto;
        z-index: 12;
        @media #{$medium-up} {
            margin-top: -330px;
        }
        @media #{$large-up} {
            margin-top: -430px;
        }
    }

    &_container {
        position: relative;
        margin: 0px 195px;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;

        img,
        video {
            object-fit: cover;
            width: 700px;
            height: 550px;
            animation: lightboxIn .5s;

            @media #{$medium-up} {
                width: 950px;
                height: 700px;
            }
            @media #{$large-up} {
                width: 1050px;
                height: 900px;
            }
        }
    }

    button {
        cursor: pointer;
        text-indent: -10000px;
    }

    .fadeOut {
        opacity: 0;
    }
}

@keyframes lightboxIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}