// police
$font-text: "DM Sans", sans-serif;

// les couleurs
$color-primary: #901C1C;
$color-secondary: #D3573C;
$color-background: #FAFAFA;
$color-modal : #DB8876;
$color-form : #312E2E;
$color-btn-hover:#ffd1c6;

// border-radius
$border-radius: 5px;

/* -------------------------
MEDIA QUERIES 
----------------------------*/
// Largeur max
$max-width: 1440px;

// breakpoints
//$large: 1200px;
/////$medium: 992px;
////$small: 768px;

//$large-up: "only screen and (min-width: #{$medium})and (max-width: #{$large})";
//$medium-up: "only screen and (min-width: #{$small} and (max-width: #{$medium}-1))";
//$small-up: "only screen and (max-width: 768px)";

// breakpoints
//$small: 768px;
$medium: 992px;
$large: 1200px;

//$small-up: "only screen and (min-width: #{$small})";
$medium-up: "only screen and (min-width: #{$medium})";
$large-up: "only screen and (min-width: #{$large})";